{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx", "transform-runtime",
    ["import", {  //  并不是自动按需引入的还是需要在main.js注册只不过字段少点
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}
